@import url("https://rsms.me/inter/inter.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Inter", sans-serif;
	@apply bg-neutral-800;
}

.readme h1, .readme h2, .readme h3, .readme h4, .readme h5, .readme h6 {
	@apply text-neutral-200;
}

.readme h1 {
	@apply py-1.5 text-3xl font-bold;
}

.readme h2 {
	@apply py-1 text-2xl font-semibold;
}

.readme h3 {
	@apply py-0.5 text-xl;
}

.readme h4, .readme h5, .readme h6 {
	@apply text-lg;
}

.readme ul {
	@apply list-disc ml-6;
}

.tooltip-desc {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	background-color: #404040a0;
	display: none;
	transition: 0.3s;
}

.tooltip-desc:hover {
	display: block;
}