@import url("https://rsms.me/inter/inter.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

.readme h1 {
	@apply text-3xl text-neutral-200 font-bold pb-1.5;
}

.readme h2 {
	@apply text-2xl text-neutral-200 font-semibold;
}

.readme h4 {
	@apply text-neutral-200 text-lg;
}

.readme h5 {
	@apply text-sm;
}

.readme h6 {
	@apply text-xl;
}

.readme ul {
	@apply list-disc ml-6;
}

.readme strong {
	@apply font-extrabold;
}

body {
	font-family: "Inter", sans-serif;
	@apply bg-neutral-800;
}
